{% extends "myapp/base.html" %}
{% block title %}
    Home
{% endblock %}
{% block body %}
<div class="product-containery flex">
    {% for product in products %}
        <div class="product shadow-lg w-1/4 rounded-lg m-10">
            <div class="product-image">
                <img src="https://cdn1.iconfinder.com/data/icons/carbon-design-system-vol-6/32/no-image-256.png" alt="">
            </div>
            <div class="p-5">
                <div class="font-bold">
                    {{ product.name }}
                </div>
                <div>
                    {{ product.description }}
                </div>
                <div class="text-green-700 font-bold">
                    ${{ product.price }}
                </div>
                <div class="mt-5">
                    <a href="{% url 'detail' product.id %}" class="bg-green-500 text-white px-4 py-2 rounded-md">View Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}